@model CBS_ASP.NET_Core_Course_Project.Models.RegisterBindingModel

<h3>Register</h3>

<form asp-controller="account" asp-action="register" method="post">
    <label asp-for="Login"></label>
    <input asp-for="Login" />
    <span asp-validation-for="Login"></span>
    <br />
    <label asp-for="Password"></label>
    <input asp-for="Password" />
    <span asp-validation-for="Password"></span>
    <br />
    <label asp-for="PasswordConfirm"></label>
    <input asp-for="PasswordConfirm" />
    <span asp-validation-for="PasswordConfirm"></span>
    <br />
    <div asp-validation-summary="ModelOnly"></div>
    <button type="submit">Register</button>
</form>