@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Курси валют</h1>
    <a asp-controller="home" asp-action="CurrencyExchangeRates">Всі курси валют</a>

</div>
